{% extends 'app/base.html' %}
<!-- ↑必ず文頭に置くこと -->
<!-- base.htmlにて読み込む内容のため不要内容
<!DOCTYPE html>
<head>
    <title>写真投稿サイト</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'app:index' %}">写真投稿サイト</a></h1>
            <div class="header-menu">
                <a href="">投稿</a>
            </div>
        </div>
    </header>
    <div class="container">
base.htmlにて読み込む内容のため不要内容 -->

{% block content %}

        <h2>トップページ</h2>

{% for photo in photos %}
        <img src="{{ photo.image.url }}" class="photo-img">
{% endfor %}

{% endblock %}
<!-- base.htmlにて読み込む内容のため不要内容
        </div>
</body>
</html>
base.htmlにて読み込む内容のため不要内容 -->